body {
  margin: 0 auto;
  background-color: rgb(215, 227, 250);
  width: 100%;
  background-image: url("./images/pasta.png");
  padding: 2em;
}


.container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 2em;
  text-align: center;
}

i {
  color: rgb(7, 7, 7);
  font-family: 'quicksand', sans-serif;
}

p {
  color: #000000;
  font-size: 1rem;
  margin-top: 10px;
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}

.name {
  font-family: 'quicksand', sans-serif;
  color: rgb(7, 7, 7);;
  text-align: center;
  margin: 40px;
}

.content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.name > h3 > a {
  color:  #08019C;
  text-decoration: none !important;
}

.name > h3 > a:active {
  color: #08019C;
}

.scshot {
  text-align: center;
  margin-bottom: 5rem;
}

.sampleimg {
  max-height: 50%;
  max-width: 50%;
  margin: auto;
}

.samplehead {
  text-align: center;
  font-family: 'quicksand', sans-serif;
}

hr {
  width: 60%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.desc > p {
  color: black;
  text-align: center;
  font-family: 'quicksand', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'quicksand', sans-serif;
  color: #08019C;
  margin-bottom: 20px;
}

.links {
  text-align: center;
}


li {
  list-style: none;
  display: inline;
  margin: 20px;
}


.samplehead > a, .back > a {
text-decoration: none !important;
color: inherit;
font-size: 2em;
text-align: center;
}

.samplehead > a:hover, .back > a:hover {
  color: #000000;
}

.back {
  text-align: center;
  margin-bottom: 30px;
}

.back > a {
  font-family:  'quicksand', sans-serif;
}

@media (min-width: 375px) {

  ul {
    padding: 0;
    display: inline;
  }

  .back > a {
    font-size: 1rem;
   }

  .name > h3 {
    font-size: 1em;
  }
   .content > p {
    font-size: 1em;
   }

   i {
    margin: 1rem;
   }
}

@media (min-width: 320px) {

  .container {
    width: 100%;
  }
  h1  {
    font-size: 25px;
    text-align: center;
  }

   ul {
    padding: 0;
    display: inline;
  }

  li {
    margin: 5px;
    display: inline;
    text-align: center;
  }

  .back > a {
    font-size: 1rem;
   }

  .name > h3 {
    font-size: 15px;
    text-align: center;
  }

  .name > h1 {
    font-size: 22px;
    text-align: center;
  }
   .content > p {
    font-size: 1rem;
   }

}

@media (min-width: 414px) {

  .name > h3 {
    font-size: 20px;
  }

.name > h1 {
    font-size: 33px;
  }
   .content > p {
    font-size: 20px;
   }
}
