body {
  margin: 0 auto;
  background-color: white;
  width: 100%;
}

.header {
  color: #84F3BB;
}

.container {
  width: 75%;
  margin: 0 auto;
}

i {
  color:#2AAFE6;
  font-family: 'quicksand', sans-serif;
}

p {
  color: #2AAFE6;
  margin-top: 10px;
  font-family: 'Alegreya Sans', sans-serif;
}

.name {
  font-family: 'quicksand', sans-serif;
  color: #2AAFE6;
  text-align: center;
  margin: 40px;
}

.name > h3 > a {
  color:  #2AAFE6;
  text-decoration: none !important;
}

.name > h3 > a:active {
  color: #2AAFE6;
}

.scshot {
  text-align: center;
  margin-bottom: 5rem;
}

.sampleimg {
  max-height: 50%;
  max-width: 50%;
  margin: auto;
}

.samplehead {
  text-align: center;
  font-family: 'quicksand', sans-serif;
}

hr {
  width: 60%;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.desc {
  color: black;
  text-align: center;
  font-family: 'quicksand', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'quicksand', sans-serif;
  color: #2AAFE6;
  margin-bottom: 20px;
}

ul {
  text-align: center;
  margin: 40px;
}

li {
  list-style: none;
  display: inline;
  margin: 20px;
}


.samplehead > a, .back > a {
text-decoration: none !important;
color: inherit;
font-size: 2rem;
font-style: none;
}

.samplehead > a:hover, .back > a:hover {
  color: #000000;
}

.back {
  text-align: center;
  margin-bottom: 30px;
}

.back > a {
  font-family:  'quicksand', sans-serif;
}



