.name{
  text-align: center;
  font-family: Raleway;
}

.mini{
  text-align: center;
}

.short{
  text-align: center;
}

.blocks{
  margin: 20px;
}

/*#info1{
  border:1px solid black;
}

#info2{
  border:1px solid black;
}*/